In [1]:
import tkinter as tk
from tkinter import *
from tkinter import filedialog

import pandas as pd

import os

from PIL import Image, ImageTk

In [13]:
def files_explorer(instructions = "Select a File", multiple = False):
    """
    Returns the location of a selected file. Allowing you to excute a pandas.read_xxxx(file).
    INPUTS: instructions about what file is being requested. Default = "Select a File".
            multiple: Set True if you want to select more than one file at the time. Default = False.
    OUTPUT: multiple in False: String with the location of the selected File.
            multiple in True: List of Strings with the locations of the selected files.
    """
    root = Tk()
    if multiple == False: file = tk.filedialog.askopenfilename(initialdir= os.getcwd(), title= instructions) 
    else: file = tk.filedialog.askopenfilenames(initialdir= os.getcwd(), title= instructions)
    root.destroy()
    return file

def resize_image(file, x, y):

    return Image.open(file).resize((x, y))

In [14]:
location_selected = files_explorer(multiple = False) # Inside the variable location_selected, is kept the location of the selected file
file = pd.read_excel(location_selected) # In this Case, for an Excel, its read with pandas

file

     Country      Name   Last Name Team Body Complexion Favourite Animal
0      Spain    Monarc     Anotnio    G          Skinny              Dog
1      Spain       Joe    Valcerde    E           Short           Narval
2   Bulgaria    Santos      Garcia    B           Large           Narval
3    Sweeden      Cody         Liu    E           Large              Dog
4   Colombia   Anotnio      Aveiro    B             Fat              Dog
..       ...       ...         ...  ...             ...              ...
74   Sweeden  Federico  Dos Santos    B           Short           Narval
75  Colombia       Joe      Junior    G           Short           Narval
76  Colombia       Liu         Hoe    G             Fat            Horse
77    France      Mart      Joseph    F          Strong            Horse
78   Germany  Valcerde  Dos Santos    B          Strong              Cat

[79 rows x 6 columns]